<div class="container" style="margin-top: 50px;">
    <section>
        <div class="example-button-row">
            <a mat-raised-button color="primary" routerLink="/tuts/events">Events</a>
            <a mat-raised-button color="primary" routerLink="/tuts/transfer">Transfer Data</a>
            <a mat-raised-button color="primary" routerLink="/tuts/view-child">View Child</a>
            <a mat-raised-button color="primary" routerLink="/tuts/to-parent">To Parent</a>
        </div>
    </section>
</div>

<div class="container" style="margin-top: 50px;">
    <router-outlet></router-outlet>
</div>