<div class="main-div">
  <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <form [formGroup]="authForm">
        <h2>CONTROL DE USUARIOS</h2>
        <mat-form-field>
          <input
            matInput
            formControlName="Email"
            placeholder="Ingrese Email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          />
          <mat-error *ngIf="authForm.get('Email')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="authForm.get('Email')?.hasError('email')"
            >Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            placeholder="Ingrese contraseña"
            [type]="hide ? 'password' : 'text'"
            formControlName="Password"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-hint *ngIf="!passwordInput?.value"
            >Ingrese la contraseña</mat-hint
          >
        </mat-form-field>
      </form>

      <div mat-raised-action [align]="'center'">
        <button
          disabled="{{ diabledSignInButton }}"
          mat-raised-button
          color="primary"
          (click)="login()"
        >
          INICAR SESION
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
