mat-card {
    width: 400px;
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    display: block;
    margin-bottom: 15px;
}


.main-div {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}