<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>assignment</mat-icon>
  </button>
  <span>APP ENCUESTAS - MONITOREO</span>
  <!-- <span>Angluar14 CRUD with Material</span> -->
  <span class="example-spacer"></span>

  <!-- <a mat-flat-button routerLink="/tuts" style="margin-right: 10px" color="warn"
    >Tuts</a
  > -->
  <a
    *ngIf="_authService.isAuthenticated()"
    mat-flat-button
    routerLink="/pollsters"
    style="margin-right: 10px"
    color="warn"
  >
    <mat-icon>list</mat-icon>
    Encuestadores</a
  >
  <button
    style="margin-right: 40px"
    *ngIf="_authService.isAuthenticated()"
    mat-raised-button
    color="warn"
    (click)="openDialog()"
  >
    <mat-icon>add_box</mat-icon>
    Nuevo encuestador
  </button>

  <li
    style="margin-right: 10px"
    *ngIf="_authService.isAuthenticated()"
    class="nav-item"
  >
    <a class="nav-link">
      {{ _authService.getUsername() }}
    </a>
  </li>
  <button
    *ngIf="_authService.isAuthenticated()"
    mat-menu-item
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
