<!-- Form: ngModel -->
<h2>Send data from sibling-a component to sibling-b</h2>

<mat-form-field class="example-full-width" appearance="fill" style="margin-right: 10px;">
    <input matInput [(ngModel)]="ipSend" #ee placeholder="Type Something" (keyup)="sendaMessage(ipSend)" value="">
</mat-form-field>

<button mat-raised-button (click)="sendaMessage(ipSend)" style="margin-right: 10px;">Send Message</button>
<button mat-raised-button (click)="clearInput()" style="margin-right: 10px;">Clear</button>

<!-- Display component -->
<div class="container" style="margin-top: 20px;">
    <app-sibling-b></app-sibling-b>
</div>